/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Montserrat";
    font-size: 20px;
    background-color:#1B1B6E;
    margin-top:0;
    padding-top:0;
}

body{
  margin-top:0;
  padding-top:0;
}

div {
  background-color: #50B3AD;
  margin: 30px 100px;
  border-radius: 10px;
  padding: 80px 110px;
}

p, li {
  font-family: "Lato";
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #1B1B6E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
}

.nav_links {
  list-style-type: none;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}
.nav_links li {
  display: inline-block;
  padding: 1px 20px;
  font-family: "Arvo";
  letter-spacing: 1px;

}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #FFBF59;
}

/* Overview */

.main {
  margin-top: 170px;
}

